{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <!-- <h1>URL Classifier</h1>RECAPTCHA_PUBLIC_KEY = 'your-public-key'
RECAPTCHA_PRIVATE_KEY = 'your-private-key'

    <form method="post" action="/predict/">
      {% csrf_token %}
      <label for="url_input">Enter URL:</label>
      <input type="text" id="url_input" name="url_input" required />
      <button type="submit">Classify URL</button>
    </form>
    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    {% endif %} -->
    <main>
      {% include 'nav.html' %}
      <div class="md:py-6 py-3">
        <div class="items-center justify-center h-fit flex flex-col p-6">
          <h1
            class="md:text-6xl text-3xl md:w-[1000px] w-full font-bold text-[#0969C3] text-center"
          >
            Stay Safe Online with AI – Instantly Detect Phishing Links
          </h1>
          <p
            class="text-[#424242] text-xl w-full md:flex md:w-[800px] my-10 items-center justify-center"
          >
            Protect Yourself from Cyber Threats with AI-Powered Security
          </p>
          <form
    method="POST"
    action="/predict/"
    class="flex flex-col justify-center items-center"
>
    {% csrf_token %}

    {{ form.url_input }}

    <div class="flex gap-4 justify-center items-center mt-8">
        <input type="checkbox" name="" id="" />
        <span class="text-base">
            By submitting a URL, you agree to our Terms of Service and Privacy Policy.<br />
            Your URL submission may be shared with the security community to enhance threat detection.<br />
            Please avoid submitting any personal information, as we are not responsible for the contents of your submission.
        </span>
    </div>

    <!-- reCAPTCHA field rendered by Django -->
    <div class="items-start my-10 justify-start flex">
        {{ form.captcha }}
    </div>

    <button
        class="bg-[#1B263B] text-white h-14 w-40 px-6 mt-4 rounded-md"
        id="submitBtn"
    >
        Check Now
    </button>
</form>


            {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
            {% endif %}
          </div>

          {% if search_list %}
          <div>
            <h2 class="text-4xl text-center text-[#1B263B] mt-12">
              Recent Searches
            </h2>

            <ul>
              {% for item in search_list%}
              <li class="flex justify-between">
                <span>{{ item.url }}</span>
                <span>{{ item.prediction }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="flex flex-col gap-12">
          <h1 class="text-center text-5xl text-[#1B263B] mt-12">
            How It Works
          </h1>
          {% include 'video.html' %}
        </div>
      </div>
      {% include 'footer.html' %}
    </main>
    <script>
      function onRecaptchaSuccess() {
        document.getElementById("submitBtn").style.display = "block";
        document.getElementById("captcha").style.display = "none";
      }
    </script>
  </body>
</html>
